body{
    margin-top: 5%;
    background: url('https://cdn-icons-png.flaticon.com/512/5608/5608043.png');background-size: cover;
    overflow: hidden;
    text-align: center;
}

hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
   }