<!DOCTYPE html>
<html>
    <head>
         <title>{{tit}}</title>

         <link type="text/css" href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />
    </head>
        <body>
            <h1>{{title}}</h1><hr>
            <h2>В сайте вы можете узнать все о новостях и погоде.</h2>
                <nav>
                    <a href="w">{{menu}}</a>
                    <a href="c">{{menu2}}</a>
                    <a href="n">{{menu3}}</a>
                    <div id="indicator"></div>
                  </nav><hr>
            <hr>
            <h2>Желаем удачи!</h2>
        </body><hr>
</html>