<!DOCTYPE html>
<html>
    <head>
         <title>{{news}}</title>

         <link type="text/css" href="{{ url_for('static', filename='news.css')}}" rel="stylesheet" />
    </head>
        <body>
            <h1>О сайте</h1>
            <h2>В этой странице вы увидите новости СНГ.</h2><hr>
            <iframe style="background-color: #ffffff;" src="https://vesti365.ru/news-365-vidjet/" name="vesti_365" width="2000" height="300" frameborder="0" marginwidth="2" marginheight="4"></iframe><hr>
        </body>
</html>